
{% load static from staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    </head>
    <style>
    body, html {
        height: 100%;
    }
    </style>
    <body>
        <div class="wrapper">
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                        <li>
                            <form class="logout-link" action="{% url 'accounts:logout' %}" method="POST">
                                {% csrf_token %}
                                <button type="submit">Logout</button>
                            </form>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'accounts:login'%}">login</a>
                        </li>
                        <li>
                            <a href="{% url 'accounts:signup'%}">SignUp</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>