{% extends 'base.html' %}

{% block content %}
<div id=app>
    <h2>[[ title ]]</h2>
    <p>[[subtitle]]</p>
    <ul>
        <li v-for="day in days">
            <h4> Day [[ day ]]</h4>
        </li>
    </ul>
</div>
<script>
    new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        data: {
            title: 'Welcome',
            days: [1, 2, 3],
            subtitle: "Django with Vue"
        }
    })
</script>
	<div id="app"></div>
	<h1>Article list</h1>
	<div class="articles">
		{% for article in articles%}
			<div class="article">
				<h1><a href="{% url 'articles:detail' slug=article.slug %}">{{ article.title }}</a></h1>
				<p>{{ article.snippet }}</p>
				<p>{{ article.date }}</p>
			</div>
		{% endfor %}
	</div>
{% endblock %}